
<div id="hide-me" style="display:block">
    <!--
    add eventlistener to buttons to make this display: block
    -->
    <form name="login" action="" method="post">
        <center>Username:</center>
        <center><input name="username" id="formname" size="14" /></center>
        <center>Password:</center>
        <center><input name="password" type="password" id="formpass" size="14" /></center>
        <center><button id="login-btn" onclick="initiatefunction()">login</button></center>
    </form>
</div>