body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.table1{
    height: 15px;
    margin-bottom: 0px ;
}

.table2 {
    table-layout: fixed;
    width: 1500px;
    height: 15px;
    margin-bottom: 0px;
}

popuplogin1 {
    margin: 0;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 50px;
    padding-top: 10px;
    width: 20%;
    height: 150px;
    position: absolute;
    background: #FBFBF0;
    border: solid #000000 2px;
    z-index: 9;
    font-family: arial;
}

#hide-me {
    padding-top: 15px;
}