@model IEnumerable<PCUdlevering.Models.DAOClasses.DAOComputer>
@{
    ViewBag.Title = "ListComputer";
}

<h2>List of Computers</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<h3>
    @Html.ActionLink("Opdater", "ListComputer", "Computer")
</h3>

<table class="table1" height="15px">
    <tr>
        <th width="270px">
            Computer-nr
        </th>
        <th width="252px">
            Udlånsdato
        </th>
        <th width="178px">
            Udlån
        </th>
        <th width="200px">
            Aflever
        </th>
        <th width="236px">
            Afleveret d.
        </th>
    </tr>


        @{Html.RenderPartial("_ComputerTable");
        }

</table>

<script>

    function getTime() {
        var date = new Date();
        var yyyy = date.getFullYear();

        document.getElementById('datebtn').innerHTML = yyyy;
    };
</script>